.footer {
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}