.photos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    margin: 0;
    padding: 30px;
    gap: 10px;
}

.photo {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 0;
}

img {
    margin: 5px;
    padding: 0;
    width: 230px;
    height: 230px;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: gray; 
    width: 200px;
}